@import url(../CSS/importuri/loader.css);
@import url(../CSS/importuri/cart.css);
@import url(../CSS/importuri/header.css);
@import url(../CSS/importuri/page-title.css);
@import url(../CSS/importuri/slider.css);
@import url(../CSS/importuri/counter.css);
@import url(../CSS/importuri/disclaimer.css);
@import url(../CSS/importuri/footer.css);
@import url(../CSS/importuri/contacte.css);
@import url(../CSS/importuri/about-main.css);
@import url(../CSS/importuri/de-ce-noi.css);
@import url(../CSS/importuri/step-line.css);
@import url(../CSS/importuri/galerie.css);
@import url(../CSS/importuri/produse.css);
@import url(../CSS/importuri/despre.css);
@import url(../CSS/importuri/video-main.css);
@import url(../CSS/importuri/team.css);
@import url(../CSS/products/products-content.css);

:root {
  --main-color: #ffc600;
  --low-yellow : #F7DE3A;
  --text-grey : #292727c7;
  --text-black : #0a0a07c4;
}
html{
    display: block;
}
body {
  font-family: 'Montserrat';
  margin: 0 ;
  padding: 0 ;
  overflow-x: hidden;
}
* {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 ;
}

[class^="col-"]{
  float:left;
  box-sizing: border-box;
}

@media (max-width:1500px){
  .counter .content .count-item strong {
      padding: 0;
      margin-top: 20px;
  }
  .counter .content .count-item span {
      padding: 0;
  }
  .counter .content .count-item {
      display: grid;
      height: 100%;
  }
  .header{
      padding: 10px 0px 10px 20px;
  }
  #myBtn{
      right: 0px;
  }
}
@media (max-width:1200px){
  .container{
      max-width: 970px;
  }
  .counter .content .count-item {
   width: 100%;
  }
}




@media (max-width:1090px){
    .cart{
        width: 100%;
    }
    .font-size{
        font-size: 23px;
    }
    .work{
        margin-top: 55px;
    }
    .flex-team{
        width: 100%;
        padding: 0 15px;
    }
    .col-md-6{
        width: 100%;
    }
    .respons{
        display: flex;
        justify-content: center;
    }
    .faqs #accordion-2{
        padding-left: 0;
    }
    .col-6{
        width: 100%;
    }
    .work-map {
        display: none;
    }
    .work-grid{
        display: grid;
    }
    [class^="col-"]{
        float: none;
    }
    .col-md-4{
        width: 100%;
    }
    .col-md-5{
        width: 100%;
    }
    .flex-why-us {
      flex: 0 0 auto;
      width:100%;
    }
    .flex-why-us-2 {
      flex: 0 0 auto;
      width: 100%;
    }
  .loader1 img {
      width: 35vh;
    }
  .row{
      display: grid;
  }
  .flex-contact{
      width: 100%;
  }
  .text-contact{
      padding-top: 40px;
  }
  #cart-icon{
      padding-right: 70px;
      margin-left: 0;
  }
  .header__logo_img{
      height: 50px;
  }
  .header{
      padding: 0;
  }
  header.shadow {
      background: #fff;
  }
  #menu-btn{
      display:block;
      margin-right: 40px;
      justify-content: center;
  }
  .navbar{
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 80%;
  }
  .navbar__list{
      flex-direction: column;
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      background: #fff;
      right: 0;
      line-height: 120px;
      bottom: 100%;
      top: 50px;
      padding-left: 0px;
      z-index: 999;
  }
  .dd{
      position:relative;
      min-width:50px;
      margin-top: 0;
      background: white;
  }
  .pian{
      margin: 0px;
      line-height: 30px;
  }
  .pian-p{
      padding: 0;
  }
  .pian a {
      padding : 0px;
  }
  .pret{
      display: none;
  }
  .navbar__list li{
      text-align: center;
      display: block;
  }

  nav ul li a{
      font-size: 15px;
  }
  .slick-next{
      right: 0;
      display: none;
  }
  .slick-next:before {
      content: '';
  }
  .partners-slider .item{
      padding: 7px;
  }
  .text-slider-partners{
      margin-bottom: 25px;
  }
  .slick-track{
      margin: 5px 0 5px 0;
  }
  .partners-slider .slick-slide{
      margin: 5px;
  }

}
@media (max-width:992px){
    .h2-title{
        font-size: 15px;
        font-weight: 650;
        padding-left: 0px;
        padding-top: 3px;
    }
    .mark-title{
        font-size: 15px;
        font-weight: 600;
    }
}
@media (max-width:767px){
    .video {
        margin: 0;
        min-height: 500px;
    }
    .about-container{
        gap: 0px;
    }
    .h2-title{
        padding-left: 0px;
        padding-right: 0px;
    }
    .mark-title{
        font-size: 15px;
        font-weight: 600;
    }
    .productul{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
      }
    .productul{
        margin: 0px;
        padding: 0px;
    }
    .productul ,.prod  {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        flex: 1 0 33%;
    }
    .center-work-grid {
        margin-top: 3em;
    }
    .col-md-7, .head p{
        width: 100%;
    }
    .work-map {
        display: none;
    }
    .work {
        text-align: center;
    }
  .head_title p{
      line-height: 1.5rem;
  }
  .disclaimer{
      display: none;
  }
  .work{
    padding: 2rem 0;
  }
  #cart-icon {
      padding-right: 70px;
      margin-left: 0;
  }
  .about{
      padding: 0px 10px 0px 10px;
  }
  .about-container {
      grid-template-columns: 1fr;
      text-align: center;
    }
    .about-img {
      padding: 1rem;
      order: 2;
    }
  .form-container h3 {
      font-size: 30px;
  }
  #myBtn{
      right: 30px;
      font-size: 20px;
      padding: 15px;
  }
  .text-slider-partners{
      font-size: 25px;
  }
  .text-slider-partners::after{
      bottom: -15px;
  }
  .footer h2{
      font-size: 25px;
  }
  .footer-social a{
      padding: 20px;
  }
}
@media (max-width:320px){
    .head p, .features-grid p, .contact-left p {
        font-size: 0.8125em;
    }
    .head h3, .contact-left h3 {
        font-size: 1.2em;
    }
    .w-icon i {
        margin-top: 1.2em;	
    }
    .work-info h4 {
        font-size:1em;
    }
    .center-work-grid {
        margin-top: 1em;
    }
}
@media (max-width:480px){
    .w-icon i {
        margin-top: 1.3em;
    }
    .head h3, .contact-left h3{
        font-size: 1.5em;
    }
    .head p, .features-grid p, .contact-left p{
        font-size: 0.85em;
    }
    .work-grids {
        margin-top: 2em;
    }
}