.work{
	background: #b3ae89;
	padding: 3em 0;
	margin-top: 115px;
}
.work-head h3,.work-head p{
	color:#FFF;
	font-size: 20px;
}
.work-head h3{
	color:#f5d440;
	font-size: 40px;
}
.w-icon{
	text-align:center;
	width:140px;
	height:140px;
	display:inline-block;
	background:#d3d1b2;
	border:6px solid #fafafa;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
	-ms-border-radius:30em;
	z-index: 3;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.w-icon i{
	color: #929000;
	font-size: 2.2em;
	margin-top: 1.4em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.work-info h4{
	color: #FFF;
	font-weight: 600;
	font-size: 1em
}
.work-info p{
	color: #FFF;
	font-size: 0.8em;
}
.work-grids{
	margin-top:4em;
}
.center-work-grid{
	margin-top: 8em;
}
.work-grids{
	position:relative;
}
.work-map{
	width: 757px;
	height: 237px;
	background: url(/Imagini/work-map.png) no-repeat 0px 0px;
	display: inline-block;
	position: absolute;
	top: 0px;
	left:10%;
}
.work-grid:hover span{
	background:#afac74;
	border-color:#EBEBEB;
}
.work-grid:hover .w-icon i{
	color:#fffb00;
}

.col-md-4, .col-md-5, .col-md-7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .step-line-text{
    margin-bottom: 8px;
    font-size: 14px;
  }
  .step-line-text-1{
    font-size: 14px;
  }
  .step-line {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 1200px) {
    .step-line {
      width: 1170px;
    }
  }
  .step-line:before,
  .step-line:after
  {
    display: table;
    content: " ";
    clear: both;
  }
 