.team {
    position: relative;
    width: 100%;
}

.team .team-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.team .team-img {
    position: relative;
}

.team .team-img img {
    width: 100%;
}
.justify{
    justify-content: center;
}
.team .team-text {
    position: relative;
    padding: 15px 10px 20px 10px;
    text-align: center;
    background: #030f27;
    transition: .5s;
}

.team .team-text h2 {
    font-size: 20px;
    font-weight: 600;
    color: #fdbe33;
    transition: .5s;
}

.team .team-text p {
    margin: 0;
    color: #ffffff;
}

.team .team-item:hover .team-text {
    background: #fdbe33;
}

.team .team-item:hover .team-text h2 {
    color: #030f27;
    letter-spacing: 1px;
}

.team .team-social {
    position: absolute;
    width: 100px;
    top: 0;
    left: -50px;
    display: flex;
    flex-direction: column;
    font-size: 0;
}

.team .team-social a {
    position: relative;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}

.team .team-item:hover .team-social a:first-child {
    background: #3b5998;
    left: 50px;
    transition: .3s 0s;
}

.team .team-item:hover .team-social a:nth-child(2) {
    background: #c32aa3;
    left: 50px;
    transition: .3s .1s;
}
.flex-team {
    flex: 0 0 auto;
    width: 25%;
  }